<!-- {% extends "project_app/template/project_app/base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <div style="float:right;">


        
        {% include "tienda/template/tienda/carro/widget.html" %}

    </div>

    <div class="row">

        {% for producto in producto%}

        <div class="col-md-3">

            <div class="card" style="width: 100%; margin: 5px 5px;">

                <img src="{{producto.imagen.url}}" class="card-img-top">

                <div class="card-body" style="text-align: center;">

                    <h7 class="card-title" >{{producto.nombre}}</h7>
            
                    <p class="card-text">&nbsp;$&nbsp;{{producto.precio}}</p>

                </div>

                <div class="card-footer text-center">

                        <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success"> Agregar al carro</a>

                </div>

            </div>
        </div>

    {% endfor %}
 
    </div>
</div>
{% endblock %}
 -->
<!-- 
    link de inicio Tienda
    <li class="nav-item  {% if request.path == '/tienda/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'tienda' %}">Tienda</a>
          </li> -->